<!DOCTYPE html>
<html lang="en">
    <head>
        <title>cari</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cari_style.css')}}">
    </head>
    <body> 
        <div class='all'>
            <table style="width:100%">
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Active</th>
                </tr>
                {% for id,code,name,active in items %}
                <tr>
                    <td>{{id}}</td>
                    <td>{{code}}</td>
                    <td>{{name}}</td>
                    <td>{{active}}</td>
                </tr>
                {% endfor %}
            </table>
            <form method="POST" action="/">
                <input type="submit"/ class="back" type="button" value="Back to main menu">
            </form>
            </div>
        </div>
    </body>
</html>