<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %}{% endblock %} </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_style.css')}}">
    </head>
    <body>
        <div class='all'>
            <form method="POST" action="/update">
                <div class="enter_new_code">
                    <label class="new_code">Enter Code :</label>
                    <input class="new_code_input" type="text" id="code" name="code">
                    </br>
                </div>
                <div class="enter_new_name">
                    <label class="new_name">Enter Name :</label>
                    <input class="new_name_input" type="text" id="name" name="name">
                    </br>
                </div>
                <div class="enter_new_active">
                    <label class="active">Enter Active :</label>
                    <input class="active_input" type="text" id="active" name="active">
                    </br>
                </div>
                <input class="add" type="submit" value="tambah"></input> </br>
            </form>
            <form method="POST" action="/">
                <input type="submit"/ class="kembali" value="kembali">
            </form>
        </div>
    </body>
</html>